body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:1070px;
}
#u1235 {
  position:absolute;
  left:180px;
  top:101px;
  width:870px;
  height:1070px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:527px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1150px;
  background:inherit;
  background-color:rgba(29, 43, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:0px;
  top:21px;
  width:180px;
  height:1150px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:567px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u1239 {
  position:absolute;
  left:20px;
  top:29px;
  width:150px;
  height:42px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:13px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1241 {
  position:absolute;
  left:200px;
  top:34px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u1243 {
  position:absolute;
  left:201px;
  top:62px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:101px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u1246 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:101px;
  width:12px;
  height:50px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u1249 {
  position:absolute;
  left:26px;
  top:118px;
  width:17px;
  height:16px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:151px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u1252 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u1253 {
  position:absolute;
  left:0px;
  top:151px;
  width:12px;
  height:50px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u1255 {
  position:absolute;
  left:26px;
  top:168px;
  width:17px;
  height:16px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:202px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u1258 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:202px;
  width:12px;
  height:50px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u1261 {
  position:absolute;
  left:26px;
  top:219px;
  width:17px;
  height:16px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263 {
  position:absolute;
  left:315px;
  top:126px;
  width:300px;
  height:25px;
}
#u1263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1264 {
  position:absolute;
  left:216px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1266 {
  position:absolute;
  left:315px;
  top:183px;
  width:90px;
  height:25px;
}
#u1266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1267 {
  position:absolute;
  left:216px;
  top:183px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1269 {
  position:absolute;
  left:415px;
  top:183px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1271 {
  position:absolute;
  left:216px;
  top:238px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:464px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1273 {
  position:absolute;
  left:211px;
  top:436px;
  width:779px;
  height:464px;
  text-align:left;
}
#u1274 {
  position:absolute;
  left:2px;
  top:2px;
  width:775px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1275 {
  position:absolute;
  left:250px;
  top:487px;
  width:685px;
  height:48px;
  font-size:16px;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  word-wrap:break-word;
}
#u1277 {
  position:absolute;
  left:269px;
  top:528px;
  width:322px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u1278 {
  position:absolute;
  left:16px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u1277_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1279 {
  position:absolute;
  left:269px;
  top:560px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u1280 {
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1279_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:2px;
}
#u1281 {
  position:absolute;
  left:255px;
  top:629px;
  width:658px;
  height:1px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:-8px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1283 {
  position:absolute;
  left:255px;
  top:654px;
  width:685px;
  height:48px;
  font-size:16px;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  word-wrap:break-word;
}
#u1285 {
  position:absolute;
  left:274px;
  top:695px;
  width:322px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u1286 {
  position:absolute;
  left:16px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u1285_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1287 {
  position:absolute;
  left:274px;
  top:727px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u1288 {
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1287_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:2px;
}
#u1289 {
  position:absolute;
  left:260px;
  top:796px;
  width:658px;
  height:1px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:-8px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1291 {
  position:absolute;
  left:654px;
  top:850px;
  width:63px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1292 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1293 {
  position:absolute;
  left:855px;
  top:850px;
  width:63px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1294 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1295 {
  position:absolute;
  left:727px;
  top:850px;
  width:33px;
  height:30px;
  color:#FFFFFF;
}
#u1296 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1297 {
  position:absolute;
  left:770px;
  top:850px;
  width:33px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1298 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1299 {
  position:absolute;
  left:813px;
  top:850px;
  width:33px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1300 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:173px;
}
#u1301 {
  position:absolute;
  left:315px;
  top:238px;
  width:420px;
  height:173px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:78px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:172px;
}
#u1303 {
  position:absolute;
  left:745px;
  top:238px;
  width:245px;
  height:172px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:78px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(238, 175, 22, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1305 {
  position:absolute;
  left:430px;
  top:930px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1306 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u1307 {
  position:absolute;
  left:621px;
  top:930px;
  width:150px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u1308 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u1309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1309 {
  position:absolute;
  left:271px;
  top:599px;
  width:632px;
  height:17px;
  color:#666666;
}
#u1310 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1311 {
  position:absolute;
  left:269px;
  top:768px;
  width:632px;
  height:17px;
  color:#666666;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#36A9CE;
}
#u1313 {
  position:absolute;
  left:662px;
  top:129px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#36A9CE;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1315_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u1315 {
  position:absolute;
  left:541px;
  top:950px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u1316 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u1317 {
  position:absolute;
  left:727px;
  top:950px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u1318 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
