body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:1070px;
}
#u680 {
  position:absolute;
  left:180px;
  top:80px;
  width:870px;
  height:1070px;
}
#u681 {
  position:absolute;
  left:2px;
  top:527px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1150px;
  background:inherit;
  background-color:rgba(29, 43, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1150px;
}
#u683 {
  position:absolute;
  left:2px;
  top:567px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u684 {
  position:absolute;
  left:20px;
  top:8px;
  width:150px;
  height:42px;
}
#u685 {
  position:absolute;
  left:2px;
  top:13px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u686 {
  position:absolute;
  left:200px;
  top:13px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u688 {
  position:absolute;
  left:201px;
  top:41px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u690 {
  position:absolute;
  left:0px;
  top:80px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u691 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u692 {
  position:absolute;
  left:0px;
  top:80px;
  width:12px;
  height:50px;
}
#u693 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u694 {
  position:absolute;
  left:26px;
  top:97px;
  width:17px;
  height:16px;
}
#u695 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u696 {
  position:absolute;
  left:0px;
  top:130px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u697 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u698 {
  position:absolute;
  left:0px;
  top:130px;
  width:12px;
  height:50px;
}
#u699 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u700 {
  position:absolute;
  left:26px;
  top:147px;
  width:17px;
  height:16px;
}
#u701 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u702 {
  position:absolute;
  left:0px;
  top:181px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u703 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u704 {
  position:absolute;
  left:0px;
  top:181px;
  width:12px;
  height:50px;
}
#u705 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u706 {
  position:absolute;
  left:26px;
  top:198px;
  width:17px;
  height:16px;
}
#u707 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708 {
  position:absolute;
  left:240px;
  top:235px;
  visibility:hidden;
}
#u708_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:710px;
  height:215px;
  background-image:none;
}
#u708_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:215px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:215px;
}
#u710 {
  position:absolute;
  left:2px;
  top:100px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u711 {
  position:absolute;
  left:47px;
  top:20px;
  width:633px;
  height:156px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u713 {
  position:absolute;
  left:47px;
  top:85px;
  width:20px;
  height:17px;
}
#u714 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u715 {
  position:absolute;
  left:47px;
  top:120px;
  width:20px;
  height:19px;
}
#u716 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:26px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u717 {
  position:absolute;
  left:240px;
  top:110px;
  width:123px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u719 {
  position:absolute;
  left:350px;
  top:110px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u720 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:240px;
  top:160px;
  width:300px;
  height:25px;
}
#u721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:26px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u722 {
  position:absolute;
  left:570px;
  top:159px;
  width:123px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u723 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u724 {
  position:absolute;
  left:670px;
  top:160px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u725 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u726_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u726 {
  position:absolute;
  left:891px;
  top:-62px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u727 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:130px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u728 {
  position:absolute;
  left:187px;
  top:570px;
  width:834px;
  height:130px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u729 {
  position:absolute;
  left:10px;
  top:10px;
  width:814px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u730 {
  position:absolute;
  left:187px;
  top:528px;
  width:160px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u731 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
