body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:1070px;
}
#u931 {
  position:absolute;
  left:180px;
  top:101px;
  width:870px;
  height:1070px;
}
#u932 {
  position:absolute;
  left:2px;
  top:527px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1150px;
  background:inherit;
  background-color:rgba(29, 43, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933 {
  position:absolute;
  left:0px;
  top:21px;
  width:180px;
  height:1150px;
}
#u934 {
  position:absolute;
  left:2px;
  top:567px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:42px;
}
#u935 {
  position:absolute;
  left:20px;
  top:29px;
  width:150px;
  height:42px;
}
#u936 {
  position:absolute;
  left:2px;
  top:13px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:200px;
  top:34px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u939 {
  position:absolute;
  left:201px;
  top:62px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u941 {
  position:absolute;
  left:0px;
  top:101px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u942 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u943 {
  position:absolute;
  left:0px;
  top:101px;
  width:12px;
  height:50px;
}
#u944 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u945 {
  position:absolute;
  left:26px;
  top:118px;
  width:17px;
  height:16px;
}
#u946 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u947 {
  position:absolute;
  left:0px;
  top:151px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u948 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u949 {
  position:absolute;
  left:0px;
  top:151px;
  width:12px;
  height:50px;
}
#u950 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u951 {
  position:absolute;
  left:26px;
  top:168px;
  width:17px;
  height:16px;
}
#u952 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u953 {
  position:absolute;
  left:0px;
  top:202px;
  width:180px;
  height:50px;
  color:#23B7E5;
}
#u954 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:50px;
}
#u955 {
  position:absolute;
  left:0px;
  top:202px;
  width:12px;
  height:50px;
}
#u956 {
  position:absolute;
  left:2px;
  top:17px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u957 {
  position:absolute;
  left:26px;
  top:219px;
  width:17px;
  height:16px;
}
#u958 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  position:absolute;
  left:350px;
  top:123px;
  width:300px;
  height:25px;
}
#u959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:216px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:350px;
  top:172px;
  width:90px;
  height:25px;
}
#u962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:216px;
  top:175px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u965 {
  position:absolute;
  left:450px;
  top:172px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u967 {
  position:absolute;
  left:216px;
  top:225px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:39px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:350px;
  top:216px;
  width:137px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:520px;
  top:216px;
  width:130px;
  height:39px;
  font-size:18px;
  color:#FFFFFF;
}
#u972 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:650px;
}
#u973 {
  position:absolute;
  left:216px;
  top:280px;
  width:784px;
  height:650px;
}
#u974 {
  position:absolute;
  left:2px;
  top:317px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u975 {
  position:absolute;
  left:251px;
  top:308px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u977 {
  position:absolute;
  left:251px;
  top:399px;
  width:269px;
  height:25px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u978 {
  position:absolute;
  left:368px;
  top:308px;
  width:152px;
  height:22px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u978_input:disabled {
  color:grayText;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u979 {
  position:absolute;
  left:567px;
  top:308px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u981 {
  position:absolute;
  left:660px;
  top:310px;
  width:110px;
  height:22px;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u981_input:disabled {
  color:grayText;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u982 {
  position:absolute;
  left:567px;
  top:399px;
  width:89px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u983 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:464px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u984 {
  position:absolute;
  left:234px;
  top:446px;
  width:743px;
  height:464px;
  text-align:left;
}
#u985 {
  position:absolute;
  left:2px;
  top:2px;
  width:739px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u986 {
  position:absolute;
  left:273px;
  top:497px;
  width:685px;
  height:48px;
  font-size:16px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:292px;
  top:538px;
  width:322px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u989 {
  position:absolute;
  left:16px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u990 {
  position:absolute;
  left:292px;
  top:570px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u991 {
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u992 {
  position:absolute;
  left:292px;
  top:610px;
  width:632px;
  height:17px;
  color:#666666;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:2px;
}
#u994 {
  position:absolute;
  left:278px;
  top:639px;
  width:658px;
  height:1px;
}
#u995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u996 {
  position:absolute;
  left:278px;
  top:664px;
  width:685px;
  height:48px;
  font-size:16px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:297px;
  top:705px;
  width:322px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u999 {
  position:absolute;
  left:16px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1000 {
  position:absolute;
  left:297px;
  top:737px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u1001 {
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:2px;
}
#u1002 {
  position:absolute;
  left:283px;
  top:806px;
  width:658px;
  height:1px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  position:absolute;
  left:255px;
  top:497px;
  width:100px;
  height:16px;
  font-size:19px;
}
#u1005 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1006 {
  position:absolute;
  left:255px;
  top:664px;
  width:100px;
  height:16px;
  font-size:19px;
}
#u1007 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1008 {
  position:absolute;
  left:255px;
  top:458px;
  width:100px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#36A9CE;
}
#u1009 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1008_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1010 {
  position:absolute;
  left:251px;
  top:354px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1012 {
  position:absolute;
  left:368px;
  top:354px;
  width:152px;
  height:22px;
}
#u1012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1012_input:disabled {
  color:grayText;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1013 {
  position:absolute;
  left:567px;
  top:354px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1015 {
  position:absolute;
  left:657px;
  top:354px;
  width:193px;
  height:22px;
}
#u1015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1015_input:disabled {
  color:grayText;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#36A9CE;
}
#u1016 {
  position:absolute;
  left:848px;
  top:458px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#36A9CE;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:677px;
  top:860px;
  width:63px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1019 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:878px;
  top:860px;
  width:63px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1021 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:750px;
  top:860px;
  width:33px;
  height:30px;
  color:#FFFFFF;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:793px;
  top:860px;
  width:33px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:836px;
  top:860px;
  width:33px;
  height:30px;
  color:rgba(25, 158, 216, 0.498039215686275);
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:793px;
  height:278px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1028 {
  position:absolute;
  left:211px;
  top:1142px;
  width:793px;
  height:278px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1029 {
  position:absolute;
  left:10px;
  top:10px;
  width:773px;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:42px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1030 {
  position:absolute;
  left:211px;
  top:1100px;
  width:160px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1031 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u1032 {
  position:absolute;
  left:305px;
  top:458px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u1033 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1034 {
  position:fixed;
  right:0px;
  top:293px;
}
#u1034_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:132px;
  background-image:none;
}
#u1034_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:83px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1036 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 175, 22, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1037 {
  position:absolute;
  left:0px;
  top:83px;
  width:150px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1038 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1034_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
  visibility:hidden;
  background-image:none;
}
#u1034_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:83px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1040 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:49px;
  background:inherit;
  background-color:rgba(238, 175, 22, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1041 {
  position:absolute;
  left:0px;
  top:83px;
  width:150px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1042 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u1043 {
  position:absolute;
  left:100px;
  top:110px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u1044 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u1045 {
  position:absolute;
  left:940px;
  top:398px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u1046 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1047 {
  position:absolute;
  left:290px;
  top:779px;
  width:632px;
  height:17px;
  color:#666666;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:60px;
  height:60px;
}
#u1049 {
  position:absolute;
  left:630px;
  top:230px;
  width:50px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFF00;
}
#u1050 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:678px;
  top:130px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#36A9CE;
}
#u1052 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1051_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1053 {
  position:absolute;
  left:748px;
  top:130px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#36A9CE;
}
#u1054 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1053_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1055 {
  position:absolute;
  left:818px;
  top:130px;
  width:100px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#36A9CE;
}
#u1056 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1055_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
